---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [142]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [210]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    

    import pandas as pd

    import re

    with open('university_towns.txt', 'r') as in_file:
        with open('u_towns.txt', 'w') as out_file:
            for line in in_file:
                line = re.sub('\[[A-Za-z1-9]*\]', '', line)
                line = re.sub('\(.*\)', '', line)
                line = re.sub('.*:', '', line)
                line = re.sub('\(.*', '', line)
                line = re.sub('\[[0-9]*\]', '', line)
                line =re.sub('University Park, Los Angeles', 'Los Angeles', line)
                line = re.sub('Pomona  and formerly Pomona College', 'Pomona', line)
                line = re.sub('University District, San Bernardino', 'San Bernardino', line)
                line = re.sub('Pueblo, Colorado', 'Pueblo', line)
                line = re.sub('Cedar Rapids, Iowa', 'Cedar Rapids', line)
                line = re.sub('Mount Vernon,', 'Mount Vernon', line)
                change = 'Lewiston, Maine' 
                line = re.sub(change, 'Lewiston', line)
                change = 'Faribault, South Central College'
                line = re.sub(change, 'Faribault', line)
                change = 'Mankato , Bethany Lutheran College'
                line = re.sub(change, 'Mankato', line)
                change = 'North Mankato, South Central College'
                line = re.sub(change, 'North Mankato', line)
                change = 'New London, New Hampshire'
                line = re.sub(change, 'New London', line)
                change = 'Morningside Heights, Manhattan'
                line = re.sub(change, 'Manhattan', line)
                change = 'Wilmington, North Carolina'
                line = re.sub(change, 'Wilmington', line)
                change = 'Cecil B. Moore, Philadelphia, also known as \"Templetown\"'
                line = re.sub(change, 'Philadelphia', line)
                change = 'University City, Philadelphia'
                line = re.sub(change, 'Philadelphia', line)
                change = 'Oakland, Pittsburgh'
                line = re.sub(change, 'Pittsburgh', line)
                change = 'University District, Seattle'
                line = re.sub(change, 'Seattle', line)
                out_file.write(line)


    df = pd.read_csv('u_towns.txt', sep=' ', header=None, names=['Cities'])

    def update_state(name):
        states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
        if name in states.values():
            return name
        else:
            return "city"


    df['state'] = df['Cities'].apply(lambda x: update_state(x))

    state_reg = []
    
    def add_state(value):
        if value in states_in_list:
            state_reg.append(value)
            return value
        elif value == 'city':
            return state_reg[-1]

    df['state2'] = df['state'].apply(lambda x: add_state(x))

    df_2 = df.copy()

    df_3 = df_2.drop(df[df['state']==df['state2']].index)

    df_4 = df_3.drop('state', axis=1)

    df_5 = df_4[['state2', 'Cities']]

    df_6 = df_5.rename(columns={'state2': 'State', 'Cities': 'RegionName'})
    
    return df_6

In [211]:
get_list_of_university_towns()

          State     RegionName
1       Alabama         Auburn
2       Alabama       Florence
3       Alabama   Jacksonville
4       Alabama     Livingston
5       Alabama     Montevallo
6       Alabama           Troy
7       Alabama     Tuscaloosa
8       Alabama       Tuskegee
10       Alaska      Fairbanks
12      Arizona      Flagstaff
13      Arizona          Tempe
14      Arizona         Tucson
16     Arkansas    Arkadelphia
17     Arkansas         Conway
18     Arkansas   Fayetteville
19     Arkansas      Jonesboro
20     Arkansas       Magnolia
21     Arkansas     Monticello
22     Arkansas   Russellville
23     Arkansas         Searcy
25   California         Angwin
26   California         Arcata
27   California       Berkeley
28   California          Chico
29   California      Claremont
30   California         Cotati
31   California          Davis
32   California         Irvine
33   California           Isla
34   California            Los
..          ...            ...
532    Virginia     Chesapeake
534  Washington     Bellingham
535  Washington         Cheney
536  Washington     Ellensburg
537  Washington        Pullman
538  Washington        Seattle
539  Washington           West
540  Washington         Athens
541  Washington     Buckhannon
542  Washington       Fairmont
543  Washington      Glenville
544  Washington     Huntington
545  Washington     Montgomery
546  Washington     Morgantown
547  Washington  Shepherdstown
548  Washington           West
550   Wisconsin       Appleton
551   Wisconsin            Eau
552   Wisconsin          Green
553   Wisconsin             La
554   Wisconsin        Madison
555   Wisconsin      Menomonie
556   Wisconsin      Milwaukee
557   Wisconsin        Oshkosh
558   Wisconsin    Platteville
559   Wisconsin          River
560   Wisconsin        Stevens
561   Wisconsin       Waukesha
562   Wisconsin     Whitewater
564     Wyoming        Laramie

[521 rows x 2 columns]

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"